__pycache__/
*.pyc

.venv/
venv/

.ipynb_checkpoints/

.env

models/
*.pkl
*.joblib

experiments/tmp/

challenge/
output/

6ab10eb3b23ba_student_resource/

experiments/stage1/*_duplicate_*.csv
experiments/stage2/validation_ground_truth.tsv
